<div>
    <form [formGroup]="form" class="flex-row px-2 py-2">
        <div class="flex w-80 pb-1.5">
            <label class="flex-none font-sans text-sm font-medium mr-1"> Full Name </label>
            <img src="https://ip-dynbanners.bajajfinserv.in/3in1Mobile/assets/images/lasv1/info_tooltip.svg" class="flex-none hover:stroke-dark-orange">
        </div>
        <input required class="input_field" [placeholder]="placeholderTextVisible ? placeholderText : ''" (focusin)="setPlaceholder(false); clearSubmitted(false)" (focusout)="clearSubmitted(true); setPlaceholder(true)" formControlName="fullName" [ngClass]="submitted == true && !this.form.controls['fullName'].valid ? 'border-red-error border-2' : ''"/>
        @if (submitted && this.form.controls['fullName'].errors) {
            <mat-error class="mt-1 flex text-red-error text-xs font-sans">
                <img class="mr-1 content-center items-center" src="https://ip-dynbanners.bajajfinserv.in/3in1Mobile/assets/images/lasv1/warning.svg">
                Please enter your first name
            </mat-error>
        }
    </form>
    <button class="mr-2 my-2 btn_secondary">SAVE TO CART</button>
    <button class="btn_primary" (click)="onContinue()">APPLY NOW</button>
    <router-outlet />
</div>
